<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <!-- fragment 선언-->
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
    <div class="container">
        <h1>회원가입</h1>
        <form role="form" th:action="@{/loginUser}" th:object="${userForm}" method="post">

            <div class="form-group">
                <label th:for="username">닉네임</label>
                <input type="text" th:field="*{username}" class="form-control" placeholder="아이디 입력해주세요">
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</body>
</html>